<style>
    .app-game {
        background-image: url("drawable/bg_game_scene.jpg");
        background-size: 100% 100%;
        position: fixed;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 54px;
    }

    .app-game-sprite {
        position: absolute;
        left: 14px;
        bottom: 0px;
    }

    .app-game-sprite > img {
        width: 25px;
        margin-right: 20px;
    }

    .app-game-success {
        display: none;
    }

    .app-game-success > div {
        position: absolute;
        z-index: 1000;
        left: 0px;
        right: 0px;
        bottom: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background-color: #000000;
        opacity: 0.6;
    }

    .app-game-success > table {
        position: absolute;
        z-index: 1000;
        left: 0px;
        right: 0px;
        bottom: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
    }

    .app-game-success-panel {
        width: 300px;
        height: 450px;
        position: relative;
        margin: auto;
    }

    .app-game-success-panel > img {
        width: 300px;
        height: 450px;
    }

    .app-game-success-panel > div:nth-child(2) {
        text-align: center;
        color: #ffffff;
        font-size: 18px;
        position: absolute;
        top: 130px;
        left: 0px;
        right: 0px;
    }

    .app-game-success-panel > div:nth-child(3) {
        position: absolute;
        top: 190px;
        left: 0px;
        right: 0px;
        color: #ffffff;
        font-size: 14px;
        text-align: center;
        line-height: 26px;
    }

    .app-game-success-panel > div:nth-child(3) > div {
        width: 100px;
        text-align: left;
        margin: auto;
    }

    .app-game-success-panel > div:nth-child(3) > div > img {
        width: 20px;
        height: 20px;
        padding-bottom: 2px;
    }
</style>

<div ng-controller="game">
    <div class="app-game">
        <div style="position: relative;padding: 20px 10px 0px 10px;">
            <div style="position: absolute; left: 0px; right: 0px; top: 60px;">
                <div style="height: 30px;line-height: 20px;background-color: #ffffff; border-radius: 20px;width: 100px;margin: auto;padding-top: 10px;text-align: center;">
                    <img src="drawable/icon_game_income_rate.png" style="width: 13px;position: relative; bottom: 1px;">
                    <span style="color: red; font-size: 11px;">增值率{{split * 100}}%</span>
                </div>
            </div>

            <div style="background-color: #ffffff;position: absolute;left: 60px; right:60px; top: 34px;height: 40px;line-height: 40px;">
                <div style="display: inline-block;padding-left: 20px;">
                    <img src="drawable/icon_game_credit_score.png" style="width: 24px;position: relative; bottom: 2px;">
                    <span style="color: #749DEA">{{userinfo.points}}</span>
                </div>

                <div style="display: inline-block;position: absolute; right: 0px;padding-right: 20px;">
                    <img src="drawable/icon_game_crash.png" style="width: 20px;position: relative; bottom: 2px;">
                    <span style="color: #749DEA">{{todayPoint}}</span>
                </div>
            </div>

            <img src="drawable/icon_user_default.png" style="width: 62px;position: absolute; left: 13px;top: 23px;border: solid 2px #ffffff; border-radius: 62px;">

            <div style="width: 62px;height: 62px;position: absolute; right: 12px;top: 23px;background-color: #AB3CDE; border-radius: 62px;text-align: center;line-height: 62px;">
                <img src="drawable/btn_game_ranking.png" style="width:40px;height: 40px;position: relative;left: 5px;top: 4px;">
            </div>

        </div>

        <div class="app-game-sprite">
            <img src="drawable/img_game_sprite1.png">
            <img src="drawable/img_game_sprite2.png">
            <img src="drawable/img_game_sprite3.png">
        </div>

        <img ng-click="brush()" src="drawable/btn_credit_card.png" style="width: 84px;position: absolute; right: 8px; bottom: 24%;">

        <img src="{{shop.img}}" style="width: 65%;position: absolute; left: 25%; bottom: 28%;">

        <!--刷卡成功-->
        <div class="app-game-success">
            <div>&nbsp;</div>
            <table>
                <tr>
                    <td>
                        <div class="app-game-success-panel">
                            <img src="drawable/bg_credit_success.png">
                            <div>刷卡成功!</div>
                            <div>
                                <div>
                                    <img src="drawable/icon_game_credit_score_increase.png">
                                    <span>+{{brushInfo.points}}</span>
                                </div>
                                <div style="display: none;">
                                    <img src="drawable/icon_game_crash_increase.png">
                                    <span>+{{brushInfo.points}}</span>
                                </div>
                                <div>
                                    <img src="drawable/icon_game_shop_update.png">
                                    <span>店铺更新</span>
                                </div>
                            </div>
                        </div>
                        <div style="text-align: center;">
                            <img ng-click="brushSuccessClose()" src="drawable/btn_close_success.png" style="width: 40px;">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="app-tab">
        <div class="col-xs-3" style="background-color: #75B1FF;">
            <a href="#/game">
                <img src="drawable/icon_com_game.png">
            </a>
        </div>
        <div class="col-xs-3">
            <a href="#/maintab1">
                <img src="drawable/icon_com_trasaction.png">
            </a>
        </div>
        <div class="col-xs-3">
            <a href="#/maintab3">
                <img src="drawable/icon_com_credit.png">
            </a>
        </div>
        <div class="col-xs-3">
            <a href="#/maintab4">
                <img src="drawable/icon_com_member.png">
            </a>
        </div>
    </div>

    <audio id="bgmusic">
        <source src="sound/sound_crash_card.mp3" type="audio/mp3">
        <source src="sound/sound_crash_card.ogg" type="audio/ogg">
    </audio>
</div>