<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>注册</title>
        <link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="style/style.css" rel="stylesheet">

        <style>
            body{
                background-image: url("drawable/bg_register.png");
                background-size: 100%;
            }
            form{
                padding: 20% 10% 10% 10%;
            }
            input{
                border: none;
                width: 100%;
                height: 40px;
                padding-left: 14px;
                background-color: #ffffff;
                border-radius: 8px;
            }
        </style>

        <script src="libs/angular.min.js"></script>
        <script src="libs/jquery-3.2.1.min.js"></script>
        <script src="libs/jquery-md5.js"></script>
        <script src="libs/juicer-min.js"></script>
    </head>

    <body ng-app="signupApp" ng-controller="signup">
        <div style="color: #FFF338; font-size: 18px;line-height: 50px;text-align: center;">会员注册</div>
        <form name="form" ng-submit="submitForm(form.$valid)" novalidate>
            <div>
                <input ng-model="formdata.username" placeholder="用户名" required>
            </div>
            <div style="margin-top: 14px;">
                <input name="mobile" ng-model="formdata.mobile" placeholder="手机号码" ng-pattern="/^1[3578]{1}\d{9}\d?$/" required>
            </div>
            <div style="margin-top: 14px;position: relative;">
                <input ng-model="formdata.code" placeholder="验证码" style="width: 150px;" ng-pattern="/^\d{6}$/" required>
                <button ng-click="sendcode(form.mobile.$valid)" ng-disabled="form.mobile.$invalid" class="btn btn-warning" style="position: absolute; right: 0px;top: 2px;">发送验证码</button>
            </div>
            <div style="margin-top: 28px;">
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-block btn-lg btn-primary">完成注册</button>
            </div>
        </form>
        <div style="color: #ffffff;padding-left: 42px;">
            <div>备注:</div>
            <div>默认登录密码: 666666</div>
            <div>默认二级密码: 888888</div>
        </div>
    </body>
</html>

<script src="libs/__code__.js"></script>