<style>
    .app-panel {
        width: 980px;
        background-color: #ffffff;
        margin: 40px 50px 40px 50px;
        box-shadow: 0px 0px 5px #aaaaaa;
    }

    .app-title {
        text-align: center;
        line-height: 40px;
        background-color: #5864AE;
        font-size: 18px;
        color: #ffffff;
    }

    .app-game {
        position: relative;
        background-image: url('drawable/bg_game_scenes.png');
        background-size: 100% 100%;
        height: 620px;
    }

    .app-game-user {
        position: absolute;
        left: 20px;
        top: 10px;
    }

    .app-game-user > img {
        width: 100px;
        height: 100px;
        background-image: url('drawable/bg_icon_user.png');
        padding: 9px;
        background-size: 100% 100%;
    }

    .app-game-user > div {
        display: inline-block;
        vertical-align: middle;
    }

    .app-game-point {
        height: 40px;
        background-image: url('drawable/bg_game_credit_score.png');
        width: 210px;
        background-size: 100% 100%;
        line-height: 40px;
        margin-bottom: 8px;
        padding: 0px 8px 0px 8px;
        width: 210px;
    }

    .app-game-income {
        height: 32px;
        width: 90px;
        display: inline-block;
        padding: 0px 8px 0px 8px;
        line-height: 32px;
        background-image: url('drawable/bg_game_show_info.png');
        background-size: 100% 100%;
    }

    .app-game-withdraw {
        display: inline-block;
        height: 32px;
        line-height: 32px;
        padding: 0px 14px 0px 14px;
        background-image: url('drawable/bg_game_show_info.png');
        background-size: 100% 100%;
    }

    .app-game-card {
        position: absolute;
        left: 450px;
        bottom: 220px;
        width: 110px;
        height: 70px;
    }

    .app-game-sprite {
        position: absolute;
        bottom: 0px;
        left: 210px;
        height: 90px;
        width: 380px;
        background-image: url('drawable/bg_game_sprite.png');
        background-size: 100% 100%;
    }

    .app-game-sprite > img {
        width: 54px;
        height: 114px;
        position: absolute;
        bottom: 5px;
    }

    .app-game-ranking {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 50px;
        height: 60px;
    }

    .app-game-shop {
        position: absolute;
        left: 150px;
        bottom: 170px;
        width: 300px;
        height: 180px;
    }

    .app-game-level {
        background-image: url('drawable/bg_game_show_info.png');
        background-size: 100% 100%;
        position: absolute;
        bottom: 120px;
        left: 150px;
        width: 300px;
        height: 40px;
        padding: 0px 12px 0px 12px;
        line-height: 40px;
    }
</style>

<div ng-controller="game" class="app-panel">
    <div class="app-title">游戏大厅</div>
    <div class="app-game">

        <!--用户信息-->
        <div class="app-game-user">
            <!--头像-->
            <img src="drawable/icon_user_default.png">

            <div>
                <!--信用分-->
                <div class="app-game-point">
                    <img style="width: 24px; height: 18px;position: relative; bottom: 2px;" src="drawable/icon_game_credit_score.png">
                    <span style="color: #ffffff;">信用分: {{userinfo.points}}</span>
                </div>
                <div>
                    <!--拆分率-->
                    <div class="app-game-income">
                        <img style="width: 16px; height: 16px;position: relative; bottom: 1px;" src="drawable/icon_game_rate.png">
                        <span style="color: #ffffff">{{split * 100}}%</span>
                    </div>

                    <!--提额-->
                    <div class="app-game-withdraw">
                        <img style="width: 18px; height: 18px;position: relative; bottom: 1px;" src="drawable/icon_game_withdraw.png">
                        <span style="color: #ffffff">{{todayPoint}}</span>
                    </div>
                </div>
            </div>
        </div>

        <!--刷卡-->
        <img ng-click="brush()" class="app-game-card" src="drawable/btn_game_card.png">

        <!--人物-->
        <div class="app-game-sprite">
            <img style="left: 50px;" src="drawable/img_game_sprite1.png"/>
            <img style="left: 164px;" src="drawable/img_game_sprite2.png"/>
            <img style="right: 50px;" src="drawable/img_game_sprite3.png"/>
        </div>

        <!--奖杯-->
        <img class="app-game-ranking" src="drawable/btn_game_ranking.png">

        <!--店铺-->
        <img class="app-game-shop" src="{{shop.img}}">

        <!--店铺等级-->
        <div class="app-game-level">
            <img style="width: 20px; height: 20px;position: relative; bottom: 2px;" src="drawable/icon_game_shop_title.png">
            <span style="font-size: 18px;color: #ffffff;margin: 14px;">{{shop.name}}</span>
            <span style="font-size: 16px; color: #F7F807;">等级: {{shop.level}}</span>
        </div>

        <!--刷卡成功-->
        <div id="app_brush_success" style="display: none;">
            <div style="position: absolute; z-index: 1000; left: 0px; right: 0px; bottom: 0px; top: 0px;width: 100%; height: 100%;background-color: #000000; opacity: 0.6;">&nbsp;</div>
            <table style="position: absolute; z-index: 1000; left: 0px; right: 0px; bottom: 0px; top: 0px;width: 100%; height: 100%;">
                <tr>
                    <td style="text-align: center;position: relative;">
                        <div ng-click="brushSuccessClose()" style="color: #ffffff; position: absolute; right: 0px; top: 0px;padding: 14px;cursor: pointer;">关闭</div>
                        <img src="drawable/bg_game_crash_success.png" style="width: 500px; height: 450px;">
                        <div style="text-align: center; color: #ffffff; font-size: 18px; position: absolute; top: 235px; left: 0px;right: 0px;">刷卡成功!</div>
                        <div style="position: absolute; top: 300px; left: 0px; right: 0px;padding: 0px 440px 0px 440px;">
                            <div style="wdith: 100px; height: 80px;color: #ffffff; font-size: 14px;text-align: left;line-height: 27px;">
                                <div>
                                    <img src="drawable/icon_game_credit_score.png" style="width: 20px; height: 20px;padding-bottom: 4px;">
                                    <span>+{{brushInfo.points}}</span>
                                </div>
                                <div style="display: none;">
                                    <img src="drawable/icon_game_withdraw.png" style="width: 20px; height: 20px;padding-bottom: 4px;">
                                    <span>+{{brushInfo.points}}</span>
                                </div>
                                <div>
                                    <img src="drawable/icon_game_shop_title.png" style="width: 20px; height: 20px;padding-bottom: 4px;">
                                    <span>店铺更新</span>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <audio id="bgmusic">
        <source src="sound/sound_crash_card.mp3" type="audio/mp3">
        <source src="sound/sound_crash_card.ogg" type="audio/ogg">
    </audio>
</div>