<style>
    .app-panel {
        width: 700px;
        background-color: #ffffff;
        margin: 40px 50px 40px 50px;
        box-shadow: 0px 0px 5px #aaaaaa;
    }

    .app-title {
        text-align: center;
        line-height: 40px;
        background-color: #5864AE;
        font-size: 18px;
        color: #ffffff;
    }

    .app-subtitle {
        line-height: 30px;
        text-align: center;
        color: #ffffff;
        background-color: #4D59A1;
    }

    .app-form {
        width: 380px;
        margin: auto;
        padding: 30px 0px 30px 0px;
    }

    .app-form > div {
        margin-top: 20px;
    }

    .app-form > div > div:nth-child(1) {
        width: 80px;
        display: inline-block;
        text-align: right;
        margin-right: 20px;
    }

    .app-form > div > div:nth-child(3) {
        width: 10px;
        text-align: right;
        display: inline-block;
    }

    .app-form > div > input {
        width: 250px;
        height: 32px;
        background-color: #eeeeee;
        padding: 0px 8px 0px 8px;
        border: none;
    }
</style>

<div ng-controller="updateinfo" class="app-panel">
    <div class="app-title">个人资料</div>
    <div class="app-subtitle">友情提示: 带星号为必填信息，请输入准确信息</div>

    <form class="app-form" name="form" class="form-horizontal" ng-submit="submitForm(form.$valid)" novalidate>
        <div>
            <div>用户名</div>
            <input ng-model="formdata.username" disabled="true"/>
            <div>*</div>
        </div>
        <div>
            <div>手机号码</div>
            <input ng-model="formdata.mobile" disabled="true"/>
            <div>*</div>
        </div>
		<div>
            <div>验证码</div>
            <input ng-model="formdata.code" ng-pattern="/^\d{6}$/" style="width:150px;" required/>
			<button ng-click="sendcode(form.mobile.$valid)" ng-disabled="form.mobile.$invalid" class="btn btn-warning">发送验证码</button>
            <div>*</div>
        </div>
        <div>
            <div>姓名</div>
            <input id="focus1" ng-model="formdata.name" placeholder="请输入真实姓名" required/>
            <div>*</div>
        </div>
        <div>
            <div>身份证</div>
            <input ng-model="formdata.idcard" placeholder="请输入有效身份证" required/>
            <div>*</div>
        </div>
        <div>
            <div>银行卡</div>
            <input ng-model="formdata.bankcard" placeholder="请输入有效银行卡" required/>
            <div>*</div>
        </div>
        <div>
            <div>所在城市</div>
            <input ng-model="formdata.city" placeholder="请输入所在城市" required/>
            <div>*</div>
        </div>
        <div>
            <div>开户行</div>
            <input ng-model="formdata.bankAddress" placeholder="请输入开户行" required/>
            <div>*</div>
        </div>
        <div>
            <div>微信</div>
            <input ng-model="formdata.wechat" placeholder="请输入微信"/>
            <div>&nbsp;</div>
        </div>
        <div>
            <div>支付宝</div>
            <input ng-model="formdata.alipay" placeholder="请输入支付宝"/>
            <div>&nbsp;</div>
        </div>
        <!--<div>-->
            <!--<div style="vertical-align: top; padding-top: 6px;">上传身份证</div>-->
            <!--<div style="display: inline-block; width: 250px;">-->
                <!--<input ng-model="formdata.idcardUrl" style="display: none;" required>-->
                <!--<input id="uploadFile" type="file" style="display: none;" accept=".png,.jpg">-->
                <!--<button ng-click="upload()" type="button" class="btn btn-primary" style="width: 250px;">请上传手持身份证照片</button>-->
                <!--<div style="color: red; padding-top: 4px;">图片大小不能超过3M, 仅限png,jpg格式</div>-->
            <!--</div>-->
            <!--<div style="vertical-align: top; padding-top: 6px;">*</div>-->
        <!--</div>-->
        <div>
            <div>&nbsp;</div>
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-success">保存修改</button>
        </div>
    </form>
</div>