<div ng-controller="change_list">
    <table class="table table-hover" ng-click="onListItemClick($event)">
        <thead>
        <tr>
            <th>用户</th>
            <th>操作类型</th>
            <th>操作说明</th>
            <th>变化信用分</th>
            <th>剩余信用分</th>
            <th>操作时间</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="it in changeList">
            <td>{{it.username}}</td>
            <td>{{it.type}}</td>
            <td>{{it.descr}}</td>
            <td>{{it.amount}}</td>
            <td>{{it.pointLeft}}</td>
            <td>{{it.createTime}}</td>
        </tr>
        </tbody>
    </table>

    <div style="position: relative;">
        <ul class="pagination" style="margin: 0px; position: absolute; right: 40px;top: 0px;"></ul>
    </div>

</div>