<div ng-controller="order_buy_notfinish">
    <table class="table table-hover" ng-click="onListItemClick($event)">
        <thead>
        <tr>
            <th>ID</th>
            <th>购买账号</th>
            <th>购买信用分</th>
            <th>手续费</th>
            <th>出售时间</th>
            <th>购买时间</th>
            <th>确认时间</th>
            <th>交易状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="it in orderList">
            <td>{{it.orderId}}</td>
            <td>{{it.username}}</td>
            <td>{{it.pointAmount}}</td>
            <td>{{it.fee}}</td>
            <td>{{it.createTime}}</td>
            <td>{{it.buyTime}}</td>
            <td>{{it.confirmTime}}</td>
            <td>{{it.status}}</td>
        </tr>
        </tbody>
    </table>

    <div style="position: relative;">
        <ul class="pagination" style="margin: 0px; position: absolute; right: 40px;top: 0px;"></ul>
    </div>

</div>