<style>
    .app-form input {
        width: 100px;
        height: 24px;
    }

    .app-form label {
        width: 50px;
    }
</style>

<div ng-controller="setting">
    <form name="form" class="app-form" ng-submit="submitForm(form.$valid)" novalidate>
        <div>
            <div>手续费设置</div>
            <div style="margin-top: 14px;" class="clearfix">
                <div class="col-xs-4">
                    <label>转让: </label>
                    <input type="number" ng-model="setting.ShouXuFei.ZhuanRang" required>
                </div>
                <div class="col-xs-4">
                    <label>挂单: </label>
                    <input type="number" ng-model="setting.ShouXuFei.GuaDan" required>
                </div>
                <div class="col-xs-4">
                    <label>信用分转绩点: </label>
                    <input type="number" ng-model="setting.ShouXuFei.PointToJidian" required>
                </div>
            </div>
        </div>

        <div ng-model="admin_username" ng-if="admin_username == 'admin'">
            <button class="btn btn-default" ng-disabled="form.$invalid" type="submit">保存设置</button>
        </div>
    </form>
</div>